{{#with data}}
  <div class='preview'>
    <div class='preview-header'>
      <span class='preview-date'>{{date}}</span>

      {{#each category}}
        <span
          class='preview-cat preview-cat-{{id}}'
        >{{text}}</span>

      {{/each}}
      <strong class='pre-t'>{{title}}</strong>
      <p class='pre-p'>{{text}}</p>
      <a href='*'>Continue reading</a>
    </div>
  </div>
{{/with}}